---
layout: base.html
title: Research Associate Opportunity
permalink: "/opportunities/research-associate/"
---

<h2 align="center">Research Associate Opportunity</h2>
<div class="container-fluid mt-5" style="max-width: 800px;">
    <h4>Position: Research Associate</h4>
    <p>We are seeking a few motivated Research Associates (RAs) to join the Distributed Systems Research group at the
        <a href="{{ site.url }}">Centre for Networked Intelligence (CNI)</a>. The RAs will be actively involved in one of the following research
        projects:</p>
    <ul style="list-style-type: disc;">
        <li>Sustainable computing for model-training and inference in machine learning (ML).</li>
        <li>Distributed ML over heterogeneous compute environments.</li>
        <li>Network transport protocols optimized for Data Center workloads.</li>
    </ul>
    <p>All the above projects are collaborative with leading industry and research labs. This role requires solid
        technical and quantitative skills and a passion for research.</p>

    <h4>Location:</h4>
    <p>Indian Institute of Science campus, Bengaluru. This is a full-time on-campus position.</p>

    <h4>About CNI:</h4>
    <p>The <a href="{{ site.url }}">Centre for Networked Intelligence</a> is an industry-sponsored research centre focused on developing next
        generation networking methodologies and concept solutions that can derive knowledge from evolved networks of the
        future.</p>

    <h4>Responsibilities:</h4>
    <ul style="list-style-type: disc;">
        <li>Design, implement, and conduct experiments on a testbed.</li>
        <li>Apply quantitative analysis and data modeling techniques to interpret research data, write research reports
            and scientific papers.</li>
        <li>Contribute to the development and evaluation of software tools, models, and algorithms.</li>
        <li>Collaborate with other team members to contribute to ongoing research projects and initiatives.</li>
    </ul>

    <h4>Qualifications:</h4>
    <ul style="list-style-type: disc;">
        <li>Bachelors or master’s degree in Computer Science, Electrical Communication, or related engineering
            disciplines.</li>
        <li>Proficiency in Linux/Unix operating system and CLI is a must.</li>
        <li>Proficiency in data structures and algorithms, C/C++ and Python programming, and development tools
            (debuggers, git, profilers, etc.).</li>
        <li>Solid foundation in probability and statistics.</li>
        <li>Strong problem-solving skills and the ability to think critically and independently.</li>
        <li>This position is open for freshers as well as experienced candidates.</li>
    </ul>

    <h4>Incentives for joining CNI:</h4>
    <ul style="list-style-type: disc;">
        <li>Opportunity to learn the rigor of world-class research through practice.</li>
        <li>Collaboration with renowned experts (industry and international academia) in the domain.</li>
        <li>Attribution for your contributions (research papers and open-source code) to boost your CV.</li>
        <li>Opportunity to work on contemporary problems with real-world impact in the systems domain.</li>
    </ul>

    <h4>Duration:</h4>
    <p>This is a grant-funded position and is contingent on funding availability. Contracts are typically renewed
        annually on satisfactory performance.</p>

    <h4>Application deadline:</h4>
    <p><strong>December 31, 2024</strong></p>

    <h4>How to apply:</h4>
    <p>Please fill in the <a href="https://forms.gle/ZgyFS2Q4SWwNavMz6">form to apply</a>.</p>
</div>