---

layout: base.html
title: Network Seminar
permalink: "/network-seminar/"

---
<script src="https://apis.google.com/js/platform.js"></script>
<link rel="stylesheet" href="/assets/css/seminar_cards.css">

{% set seminars = collections.seminars | sort('date') | reverse %}

{% set ctimeStamp = footerInfo.currentTimeStamp | date("yyyy-MM-dd HH:mm:ss") %}

<div class="container">
  <h1 class="mt-2 text-center">Network Seminar Series</h1>
  <p class="my-4">
    Networks Seminar, supported by the Centre for Networked Intelligence, is a technical discussion forum in topics
    including but not limited to computer networks, machine learning, signal processing, and information theory. The
    seminar series receives an audience from faculty and students in the EECS division, RBCCPS, and engineering
    professionals working in related fields.
  </p>
</div>

{% for seminar in seminars %}
{% set seminar_date = seminar.data.date | utcDate %}
{% set seminar_date = seminar_date | date("yyyy-MM-dd") %}
{% if seminar_date >= ctimeStamp %}
<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Upcoming Seminar</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <!-- Image Column -->
    <div class="col-md-6">
      {% if seminar.data.recorded_video != '' %}
        {% set videoId = seminar.data.recorded_video %}
        <img class="img-fluid rounded" src="https://img.youtube.com/vi/{{ videoId }}/maxresdefault.jpg" 
             alt="{{ seminar.data.title }}">
      {% else %}
      {% if seminar.data.img.startsWith('/') %}
      {% set imgSrc = seminar.data.img.slice(1) %}
      {% else %}
      {% set imgSrc = seminar.data.img %}
      {% endif %}
        <img class="img-fluid rounded" src="/{{ imgSrc }}" alt="{{ seminar.data.title }}">
      {% endif %}
    </div>
    
    <!-- Content Column -->
    <div class="col-md-6">
      {% if seminar.fileSlug | length == 1 %}
        <a href="/seminars/{{ seminar_date }}-{{ seminar.fileSlug }}/">
      {% else %}
        <a href="/seminars/{{ seminar.fileSlug }}/">
      {% endif %}
          <h5 class="card-text">{{ seminar.data.title }}</h5>
        </a>
        
      {% if seminar.data.speaker_url %}
        <a href="{{ seminar.data.speaker_url }}">
          <p class="card-text">{{ seminar.data.speaker }}</p>
        </a>
      {% else %}
        <p class="card-text">{{ seminar.data.speaker }}</p>
      {% endif %}
      <br>
      <p class="card-text">{{ seminar_date | date("MMMM dd, yyyy") }} at {{ seminar_date | formatTime }}<br>
        Venue: {{ seminar.data.Venue }}</p>
      
      <div class="d-flex align-items-center gap-3">
      {% if seminar.data.zoom_link %}
        <a href="{{ seminar.data.zoom_link }}" target="_blank" class="btn button-style btn-lg" role="button"
           aria-pressed="true">Join on Zoom</a>
      {% endif %}
      {% if seminar.data.recorded_video %}
        <a href="https://www.youtube.com/watch?v={{ seminar.data.recorded_video }}" target="_blank"
           style="color: #ec3c3c;" onmouseover="this.style.color='#009999';"
           onmouseout="this.style.color='#FF4D4D';">
          <i class="fab fa-youtube fa-3x"></i>
        </a>
      {% endif %}
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}

<div class="container my-4">
<div class="row text-center">
  <div class="col-md-4">
    <a href="https://calendar.google.com/calendar/u/3?cid=djlmaHRhYWU2MmZlbnRlNnYyMmYzNmh0OGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
      class="btn button-style btn-lg" role="button" aria-pressed="true">Add Series Calendar</a>
  </div>
  <div class="col-md-4">
    <div class="g-ytsubscribe" data-channelid="UCxx4V_yoYI5AM1-qSegGsBQ" data-layout="full" data-count="hidden"></div>
  </div>
  <div class="col-md-4">
    <a href="https://groups.google.com/g/cni-seminar-series" class="btn button-style btn-lg hoverable" role="button"
      aria-pressed="true">Join Google Group</a>
  </div>
</div>
</div>
</div>


<div class="container justify-content-center">
  <div class="row jusitfy-content-center gap-0">
    {% for seminar in seminars %}
    {% set seminar_date = seminar.data.date | utcDate %}
    {% set seminar_year = seminar.data.date | date("yyyy") %}
    {% set seminar_date = seminar_date | date("yyyy-MM-dd") %}
    {% if seminar.data.date | utcDate < ctimeStamp and seminar_year==footerInfo.currentYear %} <div
      class="col-lg-3 col-sm-6 mb-2 d-flex justify-content-center gap-0"> <!-- Adjust column width as needed -->

      <div class="card mb-3">
        {% if seminar.data.recorded_video %}
        {% set videoId = seminar.data.recorded_video %}
        <img class="card-img-top img-fluid" src="https://img.youtube.com/vi/{{ videoId }}/maxresdefault.jpg" ,
          alt="Card image cap">
        {% else %}
        {% if seminar.data.img.startsWith('/') %}
        {% set imgSrc = seminar.data.img.slice(1) %}
        {% else %}
        {% set imgSrc = seminar.data.img %}
        {% endif %}
        <img class="img-fluid rounded" src="/{{ imgSrc }}" alt="{{ seminar.data.title }}">
        {% endif %}
        <div class="card-body">
          <p class="card-text">#{{ seminar.data.n }}</p>
          {% if seminar.fileSlug | length == 1 %}
          <a href="/seminars/{{ seminar_date }}-{{ seminar.fileSlug }}" class="card-anchor">
            {% else %}
            <a href="/seminars/{{ seminar.fileSlug }}/" class="card-anchor">
              {% endif %}
              <h6 class="card-text">{{ seminar.data.title }}</h6>
            </a>
            {% if seminar.data.speaker_url%}
            <a href="{{ seminar.data.speaker_url}}" class="card-anchor">
              <p class="card-text">{{ seminar.data.speaker }}</p>
            </a>
            {% else %}
            <p class="card-text">{{ seminar.data.speaker }}</p>
            {% endif %}
            <p class="card-text">{{ seminar_date | date("MMMM dd, yyyy") }}</p>
            {% if seminar.data.recorded_video %}
            <a href="https://www.youtube.com/watch?v={{ seminar.data.recorded_video }}" target="_blank"
              style="color: #ec3c3c;" onmouseover="this.style.color='var(--hyperlink-clr)';"
              onmouseout="this.style.color='#ec3c3c';">
              <i class="fab fa-youtube fa-2x"></i>
            </a>
            {% endif %}
        </div>
      </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

<a type="button" class="btn button-style" style="margin-top: 20px; margin-bottom: 20px; width: 100%; margin-left: 0px; margin-right: 0px;"
  href="/seminars/{{ footerInfo.currentYear - 1 }}/">
  <h6 style="margin: 0; padding: 0;">Past Seminars</h6>
</a>

</div>