---
layout: base.html
title: Staff
permalink: "/staff/"
---
<link rel="stylesheet" href="/assets/css/people.css">


<div class="container-fluid my-2 text-center justify-content-center" style="max-width: 1200px;">
<h1 class="text-center mb-4">Staff</h1>
  <div class="row jusitfy-content-center gap-0">
    {% for person in collections.Staff | sort(attribute="data.importance") %}
    {% if person.data.past != true %}
      <div class="col-lg-3 col-sm-6 mb-2 d-flex justify-content-center gap-0"> <!-- Adjust column width as needed -->
        <div class="card mb-4 staff-card"> 
          <img src="{{ person.data.img }}" alt="{{ person.data.title }}" class="card-img-top img-fluid">
          <div class="staff-card-body">
            <h6 class="card-title mt-2">{{ person.data.title }}</h6>
            <p style="color: var(--hover-clr);">{{ person.data.position_at_CNI }}</p>
            {% if person.data.linkedin %}
              <a href="{{ person.data.linkedin }}" target="_blank" class="linkedin-icon mt-0">
                <i class="fab fa-linkedin fa-lg mt-0"></i> <!-- Font Awesome LinkedIn Icon -->
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <a type="button" class="btn button-style" href="/past-staff"><h4 style="margin: 0">Past staff</h4></a>
</div>