---
layout: base.html
title: workshops
permalink: "/workshops/"
---
{% set workshops = collections.workshops | sort(attribute='data.importance') %}
<link rel="stylesheet" href="/assets/css/projects.css">

<!-- <div class="banner-container text-align-center">
    
    <img src="/assets/images/projects.jpg" alt="Projects Banner" class="banner-image">
    
    <div class="banner-text">Projects</div>
</div> -->
<div class="container-fluid mt-2" align="center">
    <h1>Workshops</h1>
</div>
<div class="container-fluid mt-5" align="center">
    <div class="row">
        {% for workshop in workshops %}
        {% if workshop.data.ignore != true %}
        <div class="col-md-6 col-lg-4 col-xl-3 col-sm-1 mb-2"> <!-- Adjust column width as needed -->
            <a href="/workshops/{{ workshop.fileSlug }}/">
                <div class="card">
                    <img class="card-img-top" src="/{{ workshop.data.img }}" alt="{{ workshop.data.title }}">
                    <div class="card-body">
                        <h5 class="card-text">{{ workshop.data.title }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>